/*styles.css*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #e8e7ec;  
}

.calculator-body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color:#94769f ;
    width:418px;
    height:700px;
    border-radius: 5px; 
    box-shadow: 0px 10px 30px #918f9a;
}

#display-screen{
    display:flex;
    height:202px;
    color: #e8e7ec;
    background-color: #805a6a;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#display-screen > p{
    font-family:"Roboto",sans-serif;
    display:flex;
    overflow: hidden;
    justify-content: flex-end;
    flex-direction: column;
    align-items:flex-end;
    font-size: 30px;
    width:413px;
}


.buttons-inner-container{
    flex-direction: column;
    width:500px;
}

button{
    font-size: 25px;
    font-weight:500;
    color:#ffff;
    background-color: #94769f;
    border:none;
    font-family: "Roboto",sans-serif;
    width:100px;
    height:100px;
}

button:hover{
    background-color: #ffffffb3;
}


#AC:hover{
    background-color: rgb(241, 77, 72);
    color:#ffff;
}

#zero{
    width:204.5px;
    border-bottom-left-radius: 5px;
}

#back:hover{
    background-color: rgb(241, 77, 72);
    color:#ffff;
}

#equalto{
    color:#ffff;
    border-bottom-right-radius: 5px;
}

#decimal:hover{
    background-color: #7983ee;
}

#decimal:hover,#remainder:hover,#divide:hover, #multiply:hover
,#minus:hover,#add:hover,#equalto:hover{
    background-color: #4b1452;
}






