/*styles.css*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:#5865f2 ;
}
.calculator-body{
    /* border:3px solid orange; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color:#2c2f33 ;
    width:413px;
    height:700px;
    border-radius: 5px; 
    box-shadow:5px 5px 20px 5px  #464fb2;
}
#display-screen{
    
    display:flex;
    ;
    height:202px;
    background-color: #ffff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

}

#display-screen > p{
    
    font-family: sans-serif;
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex-direction: column;
    align-items:flex-end;
    font-size: 30px;
    width:413px;

}
.buttons-container{  
    height:570px;
    
}
.buttons-inner-container{
    
    flex-direction: column;
    width:500px;
    
    
   
}
button{
    
    margin-top: 3px;
    font-size: 25px;
    font-weight:500;
    color:#ffff;
    background-color: #424549;
    border:none;

    width:100px;
    height:100px;
   
}
button:hover{
    background-color: #ffffffb3;
}

#AC{
    background-color:rgb(243, 20, 13);
    

}
#AC:hover{
    background-color: rgb(241, 77, 72);
    color:#ffff;
}

#zero{
    width:204.5px;
    border-bottom-left-radius: 5px;
}
#back{
    background-color:rgb(243, 20, 13);

}
#back:hover{
    background-color: rgb(241, 77, 72);
    color:#ffff;
}


#equalto{
    background-color: #5865f2;
    color:#ffff;
    border-bottom-right-radius: 5px;
}

#equalto:hover{
    background-color: #7983ee;
    
    
}
